<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAssetLabel" jhiTranslate="buildingsouqApp.asset.home.createOrEditLabel">Create or edit a Asset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!asset.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="asset.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="asset.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="asset.description" required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="asset.telephone" required />
            <div [hidden]="!(editForm.controls.telephone?.dirty && editForm.controls.telephone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telephone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="asset.email" required />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                [(ngModel)]="asset.details" required />
            <div [hidden]="!(editForm.controls.details?.dirty && editForm.controls.details?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.details?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="asset.address" required />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.image" for="field_image">Image</label>
            <input type="text" class="form-control" name="image" id="field_image"
                [(ngModel)]="asset.image" required />
            <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.image?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buildingsouqApp.asset.map" for="field_map">Map</label>
            <input type="text" class="form-control" name="map" id="field_map"
                [(ngModel)]="asset.map" required />
            <div [hidden]="!(editForm.controls.map?.dirty && editForm.controls.map?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.map?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="buildingsouqApp.asset.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" [(ngModel)]="asset.type"  required>
                <option [ngValue]="typeOption.id === asset.type?.id ? asset.type : typeOption" *ngFor="let typeOption of types; trackBy: trackTypeById">{{typeOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="buildingsouqApp.asset.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="asset.category"  required>
                <option [ngValue]="categoryOption.id === asset.category?.id ? asset.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="buildingsouqApp.asset.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="asset.location"  required>
                <option [ngValue]="locationOption.id === asset.location?.id ? asset.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="buildingsouqApp.asset.sublocation" for="field_sublocation">Sublocation</label>
            <select class="form-control" id="field_sublocation" name="sublocation" [(ngModel)]="asset.sublocation"  required>
                <option [ngValue]="sublocationOption.id === asset.sublocation?.id ? asset.sublocation : sublocationOption" *ngFor="let sublocationOption of sublocations; trackBy: trackSublocationById">{{sublocationOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.sublocation?.dirty && editForm.controls.sublocation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.sublocation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
